#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
}

body {
  background-color: #FF6969;

}

.btn {
  
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;

}

.container {
  position: absolute;
  width: 100%;
 
  top: 0;
  left: 0;
   
}