@import url("//cdn.web-fonts.ge/fonts/bpg-glaho/css/bpg-glaho.min.css");

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  
  
}

body {
  background-color: #379777;
  font-family: "BPG Glaho", sans-serif;
}

.btn {
  
  background-color: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  font-family: "BPG Glaho", sans-serif;

}



.container {
  position: absolute;
  width: 100%;
 
  top: 0;
  left: 0;
   
}

.title {
  color: #F4CE14;
  text-align: center;
  margin-top: -20px;
  font-size: 2rem;

}

.title span {
  color: #fff;
}

.modal {
  position: absolute;
  width: 80%;
  height: 80vh;
  left: 150px;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6px );
-webkit-backdrop-filter: blur( 6px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  
}

.modal-title {
  color: #F4CE14;
  text-shadow: -2px 2px black;
  text-align: center;
  margin-top: 40px;

}

.balls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 3rem;
  margin-top: 5rem;
  
  
}

.ball {
  background-color: #F4CE14;
  padding: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
  cursor: pointer;

}

.ball:hover {
  background-color: #379777;
  color: #fff;
  border: 3px solid #fff;
}

.modal span {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  left: 30px;
  top: 20px;
  cursor: pointer;
}

.circle {
  color: #fff;
  position: absolute;
  top: 40px;
  left: 13px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.circle:hover {
  color: #F4CE14;

}

.buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.buttons button {
  background-color: #F4CE14;
  border: none;
  box-shadow: -4px 4px black;
  padding: 10px 40px;
  color: #191919;
  font-family: "BPG Glaho", sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.9s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.buttons button:hover {
  background-color: #379777;
  box-shadow: -4px 4px #F4CE14;
  color: #fff;
  transform: translateY(-5px);
}